html,body {
  /* background-image: url(./images/winter.jpg);
  background-position: center;
  background-size: cover; */
  font-family: 'Cinzel', serif;
}

.set-height {
  height: 30rem;
}

.cart-height {
  height: 10rem;
}

.cool-background {
  background-image: url(./images/perform.jpg);
  background-position: center;
  background-size: cover;
}

.quote-font {
  font-family: 'Permanent Marker', cursive;
}
.skew {
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
}
.light-grey {
  background-color:black;
}
/* .diagonal {
  transform: skewY(2deg);
}
.unskew {
  transform: skewY(-2deg);
} */
