.font {
    font-weight: 900;
    font-size: 25px;
    font: bold;
    font-family: 'Josefin Sans', sans-serif;
}

.black {
  background-color: black;
}

.cart-header-font {
  font-family: 'Source Sans Pro', sans-serif;
}
/* .diagonal {
  transform: skewY(2deg);
}

.unskew {
  transform: skewY(-2deg);
} */
