
.see-through {
  border-radius: 2%;
  background-color: #0671a7;
  /* background-image: linear-gradient(#663333, white); */
  background-repeat: no-repeat;
  /* background: rgba(180, 190, 180, 0.3); */
}

.picture {
  background-image: url(../../server/public/images/snowboard-1.png);
}

.catalog-height {
  height: 35rem;
}
